body{
  overflow-y: scroll; overflow-x: hidden;
}

/* quadrado laranja da direita */
.aside-top{
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  height: 68px;
  width: 100%;
  color:white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 9px;
  }

.img-logo{
  /* height: 258px;
  width: 220px; */
    display: block;
    margin-top: -98%;
    margin-bottom: 50%;
    margin-right: auto;
    padding-top: 98%;
    width: 100%;
  
}

.aside-nav{
  display: flex;
  flex-direction: column;
  margin: -9px 85% 10px -9px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding-right: -10%; 
  position: fixed;
  height: 110%;
}

.side-list{
  list-style-type: none;
  padding-top: -40px;
  padding-right: 20%;
  margin-top: -80px;
  margin-left: -50px;
}

ul.side-list > li{
  padding-top: 13px;
  padding-bottom: 2%;
  padding-left: 7%;
  border-bottom: 1.5px solid rgba(1, 0, 0, 0.151);
  margin-right: -24%;
}

.trabalhos{
  background: #FDF1EB;  /* por retangulo laranja escuro */
  
}

.navbar{
  display: flex;
  flex-direction: row;
}

.head{
  display: flex;
  justify-content: left;
  flex-direction: row;
  background: #FDF1EB;
  height:68px;
  width: 100%;
  padding-top: -90%;
  padding-left: 16%;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #725C5C;
  margin-top: -8px;
}

select{
  background: #FDF1EB;
  border-radius: 3px;
  padding: 8px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  margin-left: 40px;
}


.select_lingua{
  margin-left: 10px;
  margin-top: 15px;
}

#lado_usuario>img{
 border-radius: 100%;
 margin-left: 110%;
 margin-bottom: auto;
}

#lado_usuario{
  margin-left: 3px;
  margin-top: 20px;
  padding-left: 30px;
  text-align: right;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video{
  width: 783px;
  height: 439px;
  margin-left: -60px;
}

.resumo{
  width: 1058px;
  height: 189px;
  margin-left: 210px;
  margin-top: 30px;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px;
}

.discussoes{
  width: 1058px;
  height: 621px;
  margin-left: 210px;
  margin-top: 30px;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#list1, #list2, #list3{
  list-style-type: none;
}

.btn_topico{
  /* display: flex; */
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  border-radius: 4px;
  width: 133px;
  height: 32px;
  border: 0px;
  box-shadow: 0px 2px 2px 0px #0000003D;
  box-shadow: 0px 0px 2px 0px #0000001F;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  right: 40%;
  
}

.divisoria{
  width: 1027px;
  height: 0px;
  left: 16px;
  margin-top: 15px;
  border: 1px solid #E7E7E7;
  justify-content: center;
  margin-left: 10px;
  mix-blend-mode: unset;
  
}

.assunto1{
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid #ECECEC;
  width: 1028px;
  height: 148px;
  align-items: center;
  margin: auto;
  margin-top: 30px;
}

.assunto2{
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid #ECECEC;
  width: 1028px;
  height: 148px;
  align-items: center;
  margin: auto;
  margin-top: 30px;
}

footer{
  width: 1086px;
  height: 181px;
  margin-left: 17%;
  margin-top: 10%;
}




/* ---------------TIPOGRAFIA----------------- */
.titulo{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 5px;

}

ul.side-list > li > a{
  text-decoration: none;
  color: #725C5C;
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
}

main>h1{
  color: #EE7A3A;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  margin-left: -20px;
}

.resumo>p{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #5C5C5C;
}

.resumo>h3, .discussoes>h3{
  background: #FDF1EB;
  margin-top: -1px;
  padding-top: 15px;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300px;
  font-size: 20px;
  line-height:25px;
  color: #4E4E4E;
}

.btn_topico{
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;


}

.discussoes>h4, .assunto1>h4, .assunto2>h4{
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ED7839;
  margin-left: 10px;
}

.discussoes>p{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #5C5C5C;
  align-items: center;
  margin:auto;
  text-align: center;
}

.assunto1>p, .assunto2>p{
  margin-top: -20px;
  margin-left: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  font-weight: normal;
  line-height: 17px;
  color: #4D4D4D;
}

#strong{
  font-weight: 700px;
}

/* ===================================Media Queries=============================== */
/* @media screen and (max-width: 767px){
  .head{
    display: flex;
    justify-content: left;
    flex-direction: row;
    background: #FDF1EB;
    height:90px;
    width: 86%;
    padding: 5%;
    margin: 5%;
    padding-top: -90%;
    padding-left: 16%;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
    margin-top: -8px;
  }

  .titulo{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 5px;
  
  }

  ul.side-list > li > a{
    text-decoration: none;
    color: #725C5C;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
  }

  .simposio_issn{
    font-size: 12px;
    margin: 10px 0px 0px 20px;
  }

  #video{
    width: 60%;
    height: 40%;
  }

  .simposio_issn{
    margin-top: -20px;
    margin-left: -20px;
  }

} */